<div class="p15">
	{include file="common/breadcrumb" /}
	<div class="am-form am-form-horizontal">
		<form data-am-validator  method="post" action="{:url('edit',['id'=>$data.id])}">
			<div class="am-form-group">
				<label class="am-para-label">上级菜单：</label>
				<div class="am-para-input">
					<select name="pid">
						{$optionList}
					</select>
				</div>
			</div>

			<div class="am-form-group">
				<label class="am-para-label">菜单名称：</label>
				<div class="am-para-input">
					<input type="text" required name="title" value="{$data.title|default=''}" />
				</div>
			</div>

			<div class="am-form-group">
				<label class="am-para-label">URL：</label>
				<div class="am-para-input">
					<input type="text" required name="url"  pattern="^[0-9a-zA-Z//]+$" value="{$data.url|default=''}"/>
				</div>
			</div>

			<div class="am-form-group">
				<label class="am-para-label">菜单图标：</label>
				<div class="am-para-input">
					<input type="text" required name="icon" value="{$data.icon|default=''}" />
				</div>
			</div>

			<div class="am-form-group">
				<label class="am-para-label">排序：</label>
				<div class="am-para-input">
					<input type="text"  value="{$data.sort_id|default='1'}" name="sort_id" />
				</div>
			</div>

			<div class="am-form-group">
				<label class="am-para-label">显示在左侧栏：</label>
				<div class="am-para-input">
					<label class="am-radio-inline">
						<input type="radio" name="is_show" value="1" {$data.is_show==1 ? "checked" :""}>是</label>

					<label class="am-radio-inline"><input {$data.is_show==0 ? "checked" :""}  type="radio" name="is_show" value="0">否</label>
				</div>
			</div>

			<div class="am-form-group">
				<label class="am-para-label">是否禁用：</label>
				<div class="am-para-input">
					<label class="am-radio-inline"><input {$data.status==1 ? "checked" :""}  type="radio" name="status" value="1">否</label>
					<label class="am-radio-inline">
						<input type="radio" name="status" value="0" {$data.status==0 ? "checked" :""}>是</label>
				</div>
			</div>

			<div class="am-form-group">
				<label class="am-para-label">日志记录：</label>
				<div class="am-para-input">
					<select name="log_type">
						<option value="0">不记录日志</option>
						<option value="1">GET</option>
						<option value="2">POST</option>
						<option value="3">PUT</option>
						<option value="4">DELETE</option>
					</select>
				</div>
			</div>

			<div class="am-form-group">
				<label class="am-para-label"></label>
				<div class="am-para-input">
					<input type="submit" class="am-btn am-btn-primary">
					<input type="reset" class="am-btn am-btn-default">
				</div>
			</div>
		</form>
	</div>
</div>